{% extends 'blog/base.html' %}
{% block title %}Blog{% endblock title %}
{% block css %}
<style>

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

    * {
      font-family: 'Poppins', sans-serif;
    }

.pagination{
    display: flex;
    justify-content: center;
}
</style>
{% endblock css %}
{% block body %}
<div id="page" style="margin-top:150px">
    <!--Main layout-->
<main class="mt-3">
    <div class="container">
        <!--Section: Content-->
        <section class="text-center">
            <div class="row">
                {% for article in posts %}
                <div class="col-lg-4 col-md-12 mb-4  post-col">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img class="w-25" src="{{article.prgmngImg.url}}" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{article.title}}</h5>
                            <p class="card-text">{{article.desc|safe|truncatechars:100}}
                            </p>
                            <a href="#!" class="btn btn-light mb-1">Read Article</a>
                            <a href="#!" class="btn btn-light mb-1">Watch Video</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <!--Section: Content-->
    </div>
</main>
<!--Main layout-->

<!--For pagination-->
    <nav aria-label=...>
        <ul class="pagination">
            <li id="previous-page"><a class="page-link" href="javascript:void(0)" aria-label=Previous><span aria-hidden=true>&laquo;</span></a></li>
        </ul>
    </nav>
<!--For pagination End-->
</div>
{% endblock body %}

{% block js %}
<script>
$(document).ready(function(){
// FOR PAGINATION WITHOIUT LOADING

// Get total number of the items that should be paginated
var numberOfItems = $('#page .post-col').length; 

// Limit of items per each page
var limitPerPage = 6; 

// Hide all items over page limits (e.g., 5th item, 6th item, etc.)
$("#page .post-col:gt(" + (limitPerPage - 1) + ")").hide(); 

// Get number of pages
var totalPages = Math.round(numberOfItems / limitPerPage); 

 // Add first page marker
$(".pagination").append("<li class='page-item active'><a class='page-link' href='javascript:void(0)'>" + 1 + "</a></li>");

// Loop to insert page number for each sets of items equal to page limit (e.g., limit of 4 with 20 total items = insert 5 pages)
for (var i = 2; i <= totalPages; i++) {
  $(".pagination").append("<li class='page-item'><a class='page-link' href='javascript:void(0)'>" + i + "</a></li>"); // Insert page number into pagination tabs
}
    
// Add next button after all the page numbers 
$(".pagination").append("<li id='next-page'><a class='page-link' href='javascript:void(0)' aria-label= Next ><span aria-hidden=true>&raquo;</span></a></li>")

// Function that displays new items based on page number that was clicked
$('.pagination li.page-item').on('click',  function() {
  // Check if page number that was clicked on is the current page that is being displayed
    if ($(this).hasClass('active')) {
        return false;
    } else {
        var currentPage = $(this).index(); // Get the current page number
        $('.pagination li').removeClass('active'); // Remove the 'active' class status from the page that is currently being displayed
        $(this).addClass('active'); // Add the 'active' class status to the page that was clicked o
        $('#page .post-col').hide(); // Hide all items in loop, this case, all the list groups
        
        var grandTotal = limitPerPage * currentPage; // Get the total number of items up to the page number that was clicked o
        // Loop through total items, selecting a new set of items based on page number
        for (var i = grandTotal - limitPerPage; i < grandTotal; i++) {
            $("#page .post-col:eq(" + i + ")").show(); // Show items from the new page that was selected
        }   
    }
  });

  // Function to navigate to the next page when users click on the next-page id (next page button)
  $('#next-page').on('click', function() {
      var currentPage = $('.pagination li.active').index(); // Identify the current active page
      // Check to make sure that navigating to the next page will not exceed the total number of pages
      if (currentPage === totalPages) {
          return false; // Return false (i.e., cannot navigate any further, since it would exceed the maximum number of pages)
      } else {
          currentPage++; // Increment the page by one
          $('.pagination li').removeClass('active'); // Remove the 'active' class status from the current page
          $('#page .post-col').hide(); // Hide all items in the pagination loop
          var grandTotal = limitPerPage * currentPage; // Get the total number of items up to the page that was selected
          // Loop through total items, selecting a new set of items based on page number
          for (var i = grandTotal - limitPerPage; i < grandTotal; i++) {
              $("#page .post-col:eq(" + i + ")").show(); // Show items from the new page that was selected
          }
          $(".pagination li.page-item:eq(" + (currentPage - 1) + ")").addClass('active'); // Make new page number the 'active' page
      }
      
});

$('#previous-page').on('click', function() {
    var currentPage = $('.pagination li.active').index();
    if (currentPage === 1) {
        return false;
    } else {
        currentPage--;
        $('.pagination li').removeClass('active');
        $('#page .post-col').hide()
        var grandTotal = limitPerPage * currentPage
        for (var i = grandTotal - limitPerPage; i < grandTotal; i++) {
            $("#page .post-col:eq(" + i + ")").show();
        }
        $(".pagination li.page-item:eq(" + (currentPage - 1) + ")").addClass('active')
    }
        
   });
 });
 // PAGINATION FUNCTIONAILTY END HERE 

</script>
{% endblock js %}