{% extends 'blog/base.html' %}

{% block body %}
<div class="container" style="margin-top:50px">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-4 col-sm-11">
            <form action="" method="POST">
                {% csrf_token %}
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="name" name="name" class="form-control" />
                    <label class="form-label" for="name" >Name</label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="email"  name="email" class="form-control" />
                    <label class="form-label" for="email">Email address</label>
                </div>

                <!-- Message input -->
                <div class="form-outline mb-4">
                    <textarea name="text" class="form-control" id="message" rows="4"></textarea>
                    <label class="form-label" for="message" >Message</label>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}