{% extends 'blog/base.html' %}
{% load static %}
{% block css %}{% endblock css %}
{% load crispy_forms_tags %}
{% block body %}
    <!-- Begin Page Content -->
    <div class="container" style="margin-top:100px">
        <!-- Main Content Here -->
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Login</h1>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                {{form | crispy}}
                                <a href="{% url 'password_reset'%}">Forgot Password</a>
                                <input type="submit" class="btn btn-primary mt-1" name="" id="">
                            </form>
                            {% comment %} <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a> {% endcomment %}
                            <hr>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock body %}