{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% load crispy_forms_tags %} 

{% block body %}
    <!-- Begin Page Content -->
    <div class="container mt-5">
        <!-- Main Content Here -->
        <div class="row justify-content-center">
          <div class="col-lg-4 my-5 shadow-lg">
            <img src="{{user.profile.profile_image.url}}" class="rounded-circle float-right d-flex m-auto" height="300px" width="300px">
          </div>
          <div class="card o-hidden border-0 my-5 col-lg-5 shadow-lg mx-3">
            <div class="card-body">
                <h2>{{user.first_name}} {{user.last_name}}</h2>
                <p><strong>Username: </strong> {{user.username}} </p>
                <p><strong>Email: </strong> {{user.email}} </p>
                <p><strong>Bio: </strong> {{user.profile.bio}} </p>
                <p><strong>Phone Number: </strong> {{user.profile.phone_number}} </p>
                <p><strong>DOB: </strong> {{user.profile.birth_date}} </p>
                <a href="{% url 'profile-update'%}" class="btn btn-sm btn-primary shadow-sm">Update Profile</a>
                <a href="{% url 'change-password'%}" class="btn btn-sm btn-primary shadow-sm"> <i class="fas fa-fw fa-key"></i>Change Password</a>

            </div>
          </div>
        </div>
        
        
        
    </div>
    <!-- /.container-fluid -->
{% endblock body %}
